html,
body {
    --custom-font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    --custom-bg-color: #0B2B40;
    --custom-panel-color: #222;
    --custom-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.8);
    --custom-color: #fff;
    --custom-color-brand: #1E5959;
    --custom-color-brand-secondary: #0C7D74;
    --custom-color-secondary: #164773;
    --custom-border: solid #1E5959 25px;
    --custom-border-radius: 5px;
    --custom-spacing: 5px;


    padding: 0 !important;
    margin: 0 !important;
    font-family: var(--custom-font-family) !important;
    background-color: var(--custom-bg-color) !important;
}


main {
    background-color: #0B2B40;
    margin-bottom: 200px;
    color: whitesmoke;
    min-height: 70vh;
}

.display-3 {
    color: white;
    text-align: center;
    font-size: 3rem !important;
    float: left;
    padding-left: 10px;

}

.map-container {

    width: 85vw;
    margin: 50px auto;

    border-radius: 20px;
    max-height: 70vh;
}

iframe {
    border-radius: 10px;
    max-height: 70vh;
    background: #0B2B40 !important;
    background-color: #0B2B40 !important;
}

header {
    background-color: #164773;
}

.docs {
    background-color: var(--custom-color-brand);
    width: 80vw;
    margin: 20px auto;
    border: var(--custom-border);
    border-radius: 30px;
    padding-inline: 15px;
}

.docs-content {
    width: 32%;
    background-color: var(--custom-color-brand-secondary);
    /*filter: brightness(120%);*/
    padding: 30px;
    border: solid #1E5959 10px;

}

.docs-content h4 {
    margin-top: 10px;
}

.docs-content .text-light {
    font-size: 10px;
}

.nav-bottom {
    background-color: #164773;
}

.register-form {

    background-color: #0C7D74;
    padding-inline: 20px;
    padding-block: 40px;
    margin-top: 20px;
    border: solid #1E5959 45px;
    border-radius: 30px;
    color: white !important;

}

.register-form .form-group {
    padding: 5px;
    border-radius: 10px;
    overflow: auto;
    overflow-wrap: break-word;
    color: white !important;

}

small {
    background-color: whitesmoke;
    color: white !important;
    width: max-content;
    border-radius: 5px;
    overflow-wrap: break-word;
    padding: 2px;
    opacity: .4;
}

.error {
    color: red;
}

.btn-green {
    background-color: #1E5959 !important;
    color: whitesmoke !important;
}

.hiker-list {
    margin: 50px auto;
    width: 80vw;
    border: solid #1E5959 25px;
}


small {
    color: #6c757d !important;

}

svg {
    color: #164773 !important;
    width: 22px;
}

svg:hover {
    filter: brightness(85%);
    text-decoration: none;
}

.update-form label{
    display: none;
}